.container{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  /* flex-direction:column; */
  padding: 0.1rem;
  border: 1px solid #ccc;
  /* height: 0.1rem; */
}
.avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 100%;
  background-color: pink;
}
.avatar > img{
  height: 9rem;
  width: 17rem;
  /* border: 3px solid black; */
}
.name-id{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Tilt Prism', cursive;
  font-size: 15px;
  /* border: 2px solid black; */
}
.field{
  display: flex;
  font-family: 'Inconsolata', monospace;
  /* background:grey; */
  flex-direction:column;
  justify-content: center;
  font-size: 15px;
  /* border:1px solid black; */
}
